API_TITLE=Butena
DESCRIPTION=FastAPI Starter Project
DOC_URL=/api/docs
REDOC_URL=/api/redoc/
API_PORT=8000
API_HOST=0.0.0.0
API_ENV=dev
API_VERSION=1.0
WORKER_COUNT=1
SERVER_RELOAD=true
POSTGRES_USER=butena
POSTGRES_PASSWORD=
POSTGRES_DB=butena
POSTGRES_HOST=
POSTGRES_PORT=5432
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=
ALGORITHM=HS256
TEMP_DIR=/tmp/git
BUCKET_NAME=butena-public
BUCKET_ZONE=ap-south-1
